.idea/
database/globalConfig.php
database/keys

/web/datafiles/servicos/*
web/datafiles/servicos/*
/web/datafiles/home.html

/database/servicos
database/servicos
/database/servicos/*
database/servicos/*

web/datafiles/**/*.[jJ][pP][gG]

/app/config/params.php
/composer.lock
/var/cache/*
/var/log/*
/vendor/
