body {
	/*background: URL('/datafiles/servicos/bbhive/corporativo/images/sistema/background.jpg') fixed no-repeat center bottom;*/
	background: URL('/corporativo/servicos/bbhive/images/background.gif');
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.alin_Tempo{
	float:right;
	margin-top:-20px;
}

.barra{
	border-bottom:#CCCCCC dashed 1px;
}

.color{
	color:#0066CC;
}
.verdana_9 { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	text-decoration: none;
}
.verdana_9_bold{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	text-decoration: none;
	font-weight:bold;
}
.verdana_9_cinza { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9px; 
	text-decoration: none; 
	letter-spacing: -1px;
	color:#999999;
}
.verdana_10{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	text-decoration: none; 
}
.verdana_11 { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	text-decoration: none; 
	letter-spacing: -1px;
}

.verdana_11_bold { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	text-decoration: none; 
	letter-spacing: -1px;
	font-weight:bold;
}

.verdana_11_vermelho { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	text-decoration: none; 
	letter-spacing: -1px;
	color:#FF0000;
}
.verdana_11_cinza { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	text-decoration: none; 
	letter-spacing: -1px;
	color:#999999;
}
.verdana_11_cinza_escuro { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	text-decoration: none; 
	letter-spacing: -1px;
	color:#3F3F3F;
}
.console { 
	font-family: "Lucida Console"; 
	font-size: 11px; 
	text-decoration: none; 
}

.verdana_12 { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	text-decoration: none;
}

.verdana_13 { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	text-decoration: none;
}

.aviso{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	text-decoration: none;
	color:#FF0000;
}

a:link {
	text-decoration: none;
	color: #333333;
}

a:active {  
	color: #000000; 
	text-decoration: underline;
}

a:visited {  
	color: #333333; 
	text-decoration: none;
}

a:hover {  
	color: #000000; 
	text-decoration: none;
}

.button {
	border: 1px #333333 solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	letter-spacing: normal;
	text-decoration: none;
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	line-height: normal;
	list-style-type: lower-alpha;
}

.titulo_setor {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; text-decoration: none; 
	letter-spacing: normal; 
	/*cursor: hand; */
	border-color: black black #003399 #003399; 
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 1px; 
	border-left-width: 0px; 
	font-weight: bold;
}

.arial_11 {  
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 11px; text-decoration: none; 
	letter-spacing: normal; 
	font-weight: bold;
}

.textareas { 
	border: 1px solid; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #000000; 
	letter-spacing: 0px; 
	text-decoration: none; 
	margin-top: 1px; 
	margin-right: 1px; 
	margin-bottom: 1px; 
	margin-left: 1px; 
	line-height: normal; 
	list-style-type: lower-alpha; 
	border-color: #333333 #CCCCCC #CCCCCC #333333;
}

.verdana_xx-small {
	font-family: verdana; 
	font-size: xx-small;
}

.arial_12 { 
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 13px; 
	letter-spacing: normal;
}

.arial_11 { 
	font-family: Arial; 
	font-size: 11px; 
	letter-spacing: normal;
}

.titPG {  
	font-family: Verdana; 
	font-size: 18px; 
	font-style: normal; 
	letter-spacing: normal; 
	line-height: normal; 
	border-color: black black #0066CC; 
	margin-top: 0px; 
	margin-right: 0px; 
	margin-bottom: 0px; 
	margin-left: 0px; 
	padding-top: 0px; 
	padding-right: 0px; 
	padding-bottom: 0px; 
	padding-left: 0px; 
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 1px; 
	border-left-width: 0px;
}

.borderAll {  
	border: 1px #003399 solid;
}

.borderAlljanela {  
	border-color: #E1E1E1 #333333 #333333 #E1E1E1; 
	border-style: solid; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px;
}

.verdana16 {
	font-family: Verdana;
	font-size: 16px;
}

.verdana18 {
	font-family: Verdana;
	font-size: 18px;
}

.fundo_Ponto {
	background-image: url(/images/fundo_ponto.gif);
	background-repeat: repeat;
}

.Fundo-TabelaHome {
	background-color: #FFFFFF;
	height: 100%;
	width: 777px;
	background-position: center;
	margin: 0px;
	padding: 0px;


}

.Fundo-Direita {
	background-image: url(/images/fundo_direita.gif);
	background-repeat: repeat;
}

.Fundo-Esquerda {
	background-image: url(/images/fundo_esquerda.gif);
}

.Fundo-Bottom {
	background-image: url(/images/fundo_bottom.gif);
	background-repeat: repeat;
}

.MensBottom {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	letter-spacing: normal;
	word-spacing: normal;
}

.ItemMenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.fundo {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #E1E1E1;
	border-right-color: #333333;
	border-bottom-color: #333333;
	border-left-color: #E1E1E1;
}

.back_input{
	background-color:#FAFAFA; 
	border-color: #D0D5DA; 
	border-style: solid; 
	border-width : 1px; 
	font-size: 12px; 
	color:#003366; 
	font-family: Verdana;

}

.back_Campos{
	background-color:#FAFAFA; 
	border-color: #D0D5DA; 
	border-style: solid; 
	border-width : 1px; 
	font-size: 11px; 
	color:#003366; 
	font-family: Verdana;
	cursor:text;
}

/*Menu*/
#horizontal{
	margin:0;
	padding:0;
	list-style:none;
	font-family:Verdana;
	font-size:11px;
}
#horizontal li{
	 float:left;
	 width:80px;
}
#horizontal li a{
	color:#000000;
	display:block;
	text-decoration:none;
	margin-top:-14px;
	margin-left:27px;
}

#ferramentas {
	float:right;
	margin-top:5px;
	font-family:Verdana;
	font-size:11px;	
}
/*Fim do Menu*/


.back_input{
	background-color:#FAFAFA; 
	border-color: #D0D5DA; 
	border-style: solid; 
	border-width : 1px; 
	font-size: 11px; 
	color:#003366; 
	font-family: Verdana
}

.formulario2 {font-family: Verdana;
	font-size: 10px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #B4C2CB;
	overflow: auto;
	scrollbar-face-color: #B4C2CB;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;
}

.complementar{
	font-size: 10px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #B4C2CB;
	overflow: auto;
	scrollbar-face-color: #B4C2CB;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;
}
.formulario3 {font-family: Verdana;
	font-size: 12px;
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #ffffff;
	overflow: auto;
	scrollbar-face-color: #B4C2CB;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;
}
.barraRolagem{
	scrollbar-face-color: #B4C6DB;
	scrollbar-highlight-color:#FFFFFF;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-shadow-color:#FFFFFF;
	scrollbar-arrow-color:#FFFFFF;
	scrollbar-track-color:#FFFFFF;
}

.hide{display:none;}
.show{display:block;}

.login{
	border:#C3D9FF solid 1px;
	width:283px;
	background:#FFFFFF;
	height:110px;
}

/* Estilos que ser�o usados para popular cor de fundo */
.comum{
	background:#FBFBFB;
	cursor:pointer;
}
.ativo{
	background:#F5F5ED;
	cursor:pointer;
}
/* Fim dos estilos */

/* Estivo que ser� usado confec��o no cabe�alho do sistema*/
.cabecalho_topo{
	background:url(/datafiles/servicos/bbhive/corporativo/images/sistema/cabecalho.jpg);
	width:992px;
	height:131px;
}
/* Fim do cabe�alho*/


/* Estilo que ser� usado na confec��o do menu horizontal do sistema*/
.menu {
	background:url(/corporativo/servicos/bbhive/imagens/barra_menu.jpg);
	color:#FFF;
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
}

/*.Fim do menu horizontal*/
#btnTarefas {
	position:relative;
	width:600px;
	height:32px;
}	
#btnTarefas ul li { 
	display: inline; 
}

#btnTarefas ul {
	list-style-type: none; /*remove o marcador*/ 
	margin: 0; /*remove o recuo IE e Opera*/ 
	padding: 0; /*remove o recuo Mozilla e NN*/
}
#btnTarefas a {
	display: block;
	width: 53px;
	height:60px;
	background-color: #339966;
	color: #FF9900;
	text-decoration: none;
	background:#FFFFFF;
	border-left:#E5E5E5 solid 1px;
}
#btnTarefas a:hover {
	display: block;
	width: 53px;
	height:60px;
	background-color: #339966;
	color: #FF9900;
	text-decoration: none;
	background-image: url(/corporativo/servicos/bbhive/images/back_btnTar.gif); 
	border-left:#ffffff solid 1px;
}

.botao_calendar{
background:url(/corporativo/servicos/bbhive/images/calendar.gif);
background-repeat:no-repeat;
background-position:bottom;
cursor:pointer;
margin-left:-5px;


border:0;
}



/* TOOLTIP COM BALAO */
a.tipbalao{
    position:relative;
    z-index:24;

	font-weight:bold;
    text-decoration:none;
}
a.tipbalao span{ display: none; }
a.tipbalao:hover{ z-index:25; color: #000000; background:;}
a.tipbalao:hover span.tooltip{
    display:block;
    position:absolute;
    top:35px; left:65px;
	padding: 15px 0 0 0;
	width:200px;

    text-align: center;
}
a.tipbalao:hover span.topo{
	display: block;
	padding: 30px 8px 0;
    background: url(/corporativo/servicos/bbhive/images/bubble.gif) no-repeat top;
}
a.tipbalao:hover span.meio{
	display: block;
	padding: 0 8px; 
	background: url(/corporativo/servicos/bbhive/images/bubble_filler.gif) repeat bottom; 
}
a.tipbalao:hover span.base{
	display: block;
	padding:3px 8px 10px;
	color: #CCCCCC;
    background: url(/corporativo/servicos/bbhive/images/bubble.gif) no-repeat bottom;
}
	
/* Fim do estilo do tolltip */

/* Estilos para mudar a cor do bal�o */
.FundoNaoSelecionado{
	background:url(/corporativo/servicos/bbhive/images/fundodesativado.gif);
	background-repeat:no-repeat;
	height:84px;
	width:154px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-top:5px;
	
}

.FundoSelecionado{
	background:url(/corporativo/servicos/bbhive/images/fundoativado.gif);
	background-repeat:no-repeat;
	height:84px;
	width:154px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-top:5px;
}
.loadImage{
	position:absolute;
	height:64px;
	width:151px;
	margin-left:12px;
	/*background-image:url(/corporativo/servicos/bbhive/images/load.gif);*/
	background-image:url(/corporativo/servicos/bbhive/images/snake.gif);
	background-repeat:no-repeat;
	z-index:1000;
}
div.sombra21  {
	position:relative;
	float:right;
	margin-right:5px;
	color:#FFF;
	font: 20px "arial black", Helvetica, sans-serif;
	font-style:italic;
	width:400px;
	text-align:right;
}

.ajusteImage{
	margin-top:2px;
}

.check{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:9px;
}

.botao  {
	background-image:url(/corporativo/servicos/bbhive/images/btn_exemplo2.gif);
	height:22px;
	border-bottom:#FFFFFF solid 1px;
	border-right:#FFFFFF solid 1px;
	vertical-align:middle
}

.backTransp{
	 background:#000000;
	 filter:alpha(opacity=70);
	 -moz-opacity:0.7;
	 position:absolute;
	 z-index:4000;
}
.displayBlock{
	display:block;
}
.displayNone{
	display:none;
}
.legandaLabel{
	font-family:Tahoma;
	font-size:10px;
	letter-spacing:0.05em;
	color:#5A5A5A;
}
.legandaLabel12{
	font-family:Tahoma;
	font-size:12px;
	letter-spacing:0.05em;
	color:#5A5A5A;
}
.legandaLabel14{
	font-family:Tahoma;
	font-size:14px;
	letter-spacing:0.05em;
	color:#5A5A5A;
}
.legandaLabel11{
	font-family:Tahoma;
	font-size:11px;
	letter-spacing:0.05em;
	color:#5A5A5A;
}
.legandaLabel16{
	font-family:Tahoma;
	font-size:16px;
	letter-spacing:0.05em;
	color:#5A5A5A;
}
.botao_calendar{
	background:url(/corporativo/servicos/bbhive/images/calendar.gif);
	background-repeat:no-repeat;
	background-position:bottom;
	cursor:pointer;
	margin-left:-5px;
	border:0;
/* Fim do estilo */
}

.tbTarefas {
	/*display: block;*/
	height:65px;
	background:#FFFFFF;
	font-family:Tahoma;
	font-size:10px;
	letter-spacing:0.05em;
	color:#5A5A5A;
	border:#FFFFFF 1px solid;
}

.tbTarefas a:hover {
	display: block;
	height:61px;
	background-image: url(/corporativo/servicos/bbhive/images/back_btnTar.gif); 
	font-family:Tahoma;
	font-size:10px;
	letter-spacing:0.05em;
	color:#5A5A5A;
}

.tbTarefasMini {
	/*display: block;*/
	height:41px;
	background:#FFFFFF;
	font-family:Tahoma;
	font-size:9px;
	letter-spacing:0.05em;
	color:#5A5A5A;
	border:#FFFFFF 1px solid;
}

.tbTarefasMini a:hover {
	display: block;
	height:41px;
	background-image: url(/corporativo/servicos/bbhive/images/miniBack.jpg); 
	font-family:Tahoma;
	font-size:10px;
	letter-spacing:0.05em;
	color:#5A5A5A;
}
.comFundo{
	background-image: url(/corporativo/servicos/bbhive/images/painel/backFundo.gif);
	background-repeat:no-repeat;
	cursor:pointer;
}
.semFundo{
	background-image:none;
}
.comFundoRel{
	background-image: url(/corporativo/servicos/bbhive/images/painel/back_menu.jpg);
	background-repeat:no-repeat;
	cursor:pointer;
}
.semFundoRel{
	background-image:none;
}
.comFundoPar{
	background-image: url(/corporativo/servicos/bbhive/images/painel/back_par.jpg);
	background-repeat:no-repeat;
	cursor:pointer;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}
.semFundoPar{
	background-image:none;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
}
.comFundoItem{
	background-image: url(/corporativo/servicos/bbhive/images/painel/item.jpg);
	background-repeat:no-repeat;
	cursor:pointer;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}
.semFundoItem{
	background-image:none;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
}
.confirma{
	border:#CCC solid 1px;
	background-color:#FFF;
	cursor:pointer;
	background-image: url(/corporativo/servicos/bbhive/images/confirma.gif);
	background-repeat:no-repeat;
	background-position:left;
}
.cancelar{
	border:#CCC solid 1px;
	background-color:#FFF;
	cursor:pointer;
	background-image: url(/corporativo/servicos/bbhive/images/cancelar.gif);
	background-repeat:no-repeat;
	background-position:left;
}
.faltaProcessar{
	background-color:#F1F1F1;	
}
.Processado{
	background-color:#FFF;	
}
/*COMPORTAMENTO ICONES DO MENU - FLUXO / TAREFAS*/
.ico_Fluxo_Inativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_fluxo.gif);
	background-position:0 0px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Fluxo_Ativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_fluxo.gif);
	background-position:0 -61px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Fluxo_Selecionado{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_fluxo.gif);
	background-position:0 -123px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
/************************/
.ico_Tarefas_Inativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_tarefas.gif);
	background-position:0 0px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Tarefas_Ativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_tarefas.gif);
	background-position:0 -61px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Tarefas_Selecionado{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_tarefas.gif);
	background-position:0 -123px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
/*******************/
.ico_Mensagens_Inativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_mensagem.gif);
	background-position:0 0px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Mensagens_Ativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_mensagem.gif);
	background-position:0 -61px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Mensagens_Selecionado{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_mensagem.gif);
	background-position:0 -123px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
/*******************/
.ico_Detalhamento_Inativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_detalhamento.gif);
	background-position:0 0px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Detalhamento_Ativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_detalhamento.gif);
	background-position:0 -61px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Detalhamento_Selecionado{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_detalhamento.gif);
	background-position:0 -123px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
/*******************/
.ico_Ged_Inativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_ged.gif);
	background-position:0 0px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Ged_Ativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_ged.gif);
	background-position:0 -61px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Ged_Selecionado{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_ged.gif);
	background-position:0 -123px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
/*******************/
.ico_Fluxograma_Inativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_fluxograma.gif);
	background-position:0 0px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Fluxograma_Ativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_fluxograma.gif);
	background-position:0 -61px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Fluxograma_Selecionado{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_fluxograma.gif);
	background-position:0 -123px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
/*******************/
.ico_Indicios_Inativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_indicios.gif);
	background-position:0 0px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Indicios_Ativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_indicios.gif);
	background-position:0 -61px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Indicios_Selecionado{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_indicios.gif);
	background-position:0 -123px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
/*******************/
.ico_Resumo_Inativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_resumo.gif);
	background-position:0 0px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Resumo_Ativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_resumo.gif);
	background-position:0 -61px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Resumo_Selecionado{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_resumo.gif);
	background-position:0 -123px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
/*******************/
.ico_Atribuicao_Inativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_atribuicao.gif);
	background-position:0 0px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Atribuicao_Ativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_atribuicao.gif);
	background-position:0 -61px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Atribuicao_Selecionado{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_atribuicao.gif);
	background-position:0 -123px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
/*******************/
.ico_Relatorio_Inativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_relatorio.gif);
	background-position:0 0px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Relatorio_Ativo{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_relatorio.gif);
	background-position:0 -61px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}
.ico_Relatorio_Selecionado{
	background-image:url(/corporativo/servicos/bbhive/images/menu/ico_relatorio.gif);
	background-position:0 -123px;	
	background-repeat:no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	color:#5A5A5A;
	vertical-align: bottom;
 	display: table-cell;
}

select[readonly] {
	background: #eee; /*Simular campo inativo - Sugestão @GabrielRodrigues*/
	pointer-events: none;
	touch-action: none;
}